{% extends 'base.html' %}

{% block title %}
Все статьи сайта
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Все статьи сайта</h1>

    {% for element in articles %}
    <div class="alert alert-info">
        <h2> {{ element.title }} </h2>
        <p>{{ element.intro }}</p>
        <p><b>Дата публикации: {{ element.date.date() }}</b></p>
        <a href="/posts/{{ element.id }}" class="btn btn-warning">Полный текст публикации</a>
    </div>

    {% endfor %}
</div>
{% endblock %}